[Desktop Entry]
Name=Presence
GenericName=Presentation Editor
Comment=Convert Markdown to PDF slideshows
Exec=presence %f
Icon=io.gitlab.gtk4-apps1.Presence
Terminal=false
Type=Application
Categories=Office;Presentation;
MimeType=text/markdown;text/x-markdown;
Keywords=markdown;presentation;slides;PDF;
StartupNotify=true
StartupWMClass=presence
